<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Descripción Biográfica
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-item>
            <ion-avatar slot="start" style="height: 100px; width: 100px;">
              <img alt="Lenin" src="../../assets/image/imagen2.jpeg"/>
            </ion-avatar>
            <ion-label style="font-size: 20px;">Lenin Cristóbal Gómez Gualotuña</ion-label>
          </ion-item>
          <ion-card-content>
            Estudiante actualmente estudiando la carrera Tecnología Superior en Desarrollo de Software en la Escuela
            Politécnica Nacional.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Sobre Mí</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ul>
                  <li>Fecha de Nacimiento: 20/Abril/2003</li>
                  <li>Lugar de Nacimiento: Quito</li>
                </ul>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Idiomas</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ul>
                <li>Español: Nativo</li>
                <li>Inglés: B1</li>
              </ul>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Hobbies</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ul>
                <li>
                  Jugar Videojuegos
                </li>
                <li>
                  Cocinar
                </li>
                <li>
                  Jugar Fútbol
                </li>
              </ul>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Lenguajes Aprendidos</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ul>
                <li>Java</li>
                <li>JavaScript</li>
                <li>SQL</li>
                <li>HTML/CSS</li>
                <li>Python</li>
              </ul>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>