<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <form id="new-form">
    <ion-item id="new-input2">
      <ion-label stacked>
        Fecha inicial
      </ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" placeholder="" name="fechaini" [ngModel]="fechaini"></ion-datetime>
    </ion-item>
    <ion-item id="new-input3">
      <ion-label stacked>
        Fecha final
      </ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" placeholder="" name="fechafin" [(ngModel)]="fechafin" ></ion-datetime>
    </ion-item>
  </form>
  <ion-button id="button1" ion-button block color="dark" (click)="calcular()">Calcular</ion-button>
</ion-content>